.reg-wrap .btn.btn-big.btn-primary.captcha-recover {
    margin-top: 8px;
    display: inline-block;
}
.captcha-image{

}
.spacer{height: 20px;}
.spacer-5{height: 5px;}
.spacer-10{height: 10px;}
.spacer-20{height: 20px;}
.spacer-30{height: 30px;}
.spacer-40{height: 40px;}
.spacer-50{height: 50px;}
.spacer-60{height: 60px;}
.spacer-70{height: 70px;}
.spacer-80{height: 80px;}
.spacer-90{height: 90px;}
.spacer-100{height: 100px;}
.wgt-CommentsWidget-_comment .edit-comment,
.wgt-CommentsWidget-_comment .delete-comment{
    color: #656565;
}
.wgt-CommentsWidget-_comment .edit-comment{
    cursor: pointer;
}
.wgt-CommentsWidget-_comment .edit-comment:hover{
    text-decoration: underline;
}
.gmail-icon{
    margin: 0 30px;
}
.gmail-invite-page-title{
    font-size: 40px;
    line-height: 1.3;
}
.gmail-invite-hr{
    margin-top: 20px;
}
.not-registered-email span{
    font-weight: bold;
}
.highlight{
    background-color: #ffff99;
}
.subcategories-menu-list li{
    list-style: none;
    margin-left: 0;
}
.error-page-error-image, .list-empty-image{
    display: inline-block;
}
.error-page-error-code{
    font-size: 80px;
    font-weight: bold;
}
.list-empty-title{
    font-weight: bold;
}
.error-page-error{
    text-transform: uppercase;
}
.agreement-container{
    height: 350px;
    overflow: auto;
}
#agreement_form{
    padding: 10px;
}
.service-info > a.read-more-link{
    font-size: 12px !important;
}
.banner-image{
    width: 100%;
}
h1.for-adults{
    padding: 2px 0 2px 32px;
    background: url("/images/16plus.png") left center no-repeat;
}
.avatar-progress{
    margin-top: 10px;
}
.filter-calendar-date-input{
    min-width: 0;
}
.func-tab.calendar-tab > tbody > tr > td, .func-tab > tbody > tr > th {
    text-align: left;
}
.add-element .checkbox.image-preview-checkbox-label{
    margin:0;
}
.invitekey-copy-btn{
    cursor: pointer;
}
.show-phone, .bottom-container > div > span.public-phone{
    display: inline-block;
}
.show-phone{
    margin-left: 5px;
}
#payments-grid > table.table > thead > tr > th{
    background-color: #ffffff;
    border: medium none;
    color: #454545;
}
table.table.table-striped.table-contacts.alc-tab.g-total{
    color: #878787;
    margin-bottom: 50px;
}
table.table.func-tab.guest-tab{
    margin-bottom: 36px;
}
.service-link {
    min-height: 167px;
}
img.banner-preview{
    height: 100px;
}
.banner-preview-link img{
    display: inline;
}
.banner-row-margin-container{
    margin-top: 8px;
    margin-bottom: 8px;
}
.user-service a.banner-publish{
    display: inline;
    font-size: 14px;
}
.banner-bg{
    height: 479px;
    background: url("/images/banner_bg_2.png") center no-repeat;
}
.competition-text-container{
    margin-top: 20px;
}
.competition-title{
    color: #ffffff;
    font-family: "Times New Roman";
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 5px;
}
.gold{
    color: #ffebcc;
}
.competition-title-note{
    font-size: 20px;
}
.competition-tasks-list{
    margin-top: 20px;
    color: #ffffff;
    margin-bottom: 50px;
}
.competition-tasks-list li{
    list-style: none;
    margin-left: 0;
    margin-bottom: 15px;
}
.competition-tasks-list li a{
    font-size: 16px;
    color: #ffffff;
    background:  rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 3px 12px;
}
.competition-tasks-list li a:hover, .competition-tasks-list li a:active{
    color: #ffffff;
    background:  rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.competition-read-more-link{
    background: #e0dfd8;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 17px;
}
.competition-read-more-link:hover, .competition-read-more-link:active{
    text-decoration: none;
    color: #000000;
    background: #ffffff;
}
.competition-read-more-link span.glyphicon{
    font-size: 14px;
}
.banner-container{
    width: 100%;
}
.instead-of-content{
    height: 479px;
    background: url("/images/banner_bags.png") right bottom no-repeat;
}
.height90-block{
    height: 90px;
    width: 100%;
}
.main-menu{
    background: #131313!important;
}
.user-page .service-info .bottom-container.user-deal{
    border-top: none;
    clear: both;
    margin-top: 0;
    padding: 0;
}
.reg-wrap .note.text-danger{
    color: #a94442;
}
.rating-container{
    margin-top: 10px;
}
.rating-title{
    text-transform: uppercase;
    font-size: 10px;
}
.rating-form span.category-rating-star, .rating-form span.cursor-def{
    cursor: default;
}
.fancybox-video-vimeo{
    min-height: 215px;
}
.deal-contacts-quality-submit-link{
    width: 100px;
}
.inputs-wrap label {
    display: inline-block;
    margin-right: 30px;
}
.fancybox-public-avatar{
    cursor: pointer;
}
.send-message.btn{
    background: transparent linear-gradient(#ffffff, #fafafa) repeat scroll 0 0;
    border-color: #dfdfdf;
}
#readMoreReadLess1{
    margin-bottom: 10px;
}
.service-info>a.read-more-link{
    margin: 0 0 10px 0;
}
.service-info.inner .bottom-container > div {
    margin-right: 20px;
}



/*yandex search styles*/



.search-toggle input.ya-site-form__input-text {
    border: medium none;
    border-radius: 5px;
    box-shadow: none;
    font-size: 13px;
    height: 33px;
    padding-left: 13px;
    transition: all 0.3s ease 0s;
    width: 390px!important;
}
.search-toggle table{
    width: 390px!important;
}
.search-toggle table th,.search-toggle table th{
    padding: 0!important;
}
#ya-site-form0 .ya-site-form__search-input, #ya-site-form1 .ya-site-form__search-input {
    padding: 0!important;
}
.ya-site-form__search-wrap{
    padding: 0!important;
}
#ya-site-form0 .ya-site-form__submit, #ya-site-form1 .ya-site-form__submit{
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") repeat scroll -58px -82px!important;
    height: 13px;
    position: absolute;
    right: 12px;
    top: 10px;
    width: 12px!important;
}
html body #ya-site-form0 .ya-site-suggest-elem:link,
html body #ya-site-form0 .ya-site-suggest-elem-link,
html body #ya-site-form1 .ya-site-suggest-elem:link,
html body #ya-site-form1 .ya-site-suggest-elem-link
{
    color: #878787 !important;
    text-shadow: none;
}
#ya-site-form0 .ya-site-form__search-input, #ya-site-form1 .ya-site-form__search-input {
    padding: 0!important;
}
.search.mob #ya-site-form0 .ya-site-form__submit{
    background-image: url("../images/sprite.png");
    background-position: -58px -82px;
    height: 13px;
    position: absolute;
    right: 25px;
    top: 9px;
    width: 12px;
}
.search.mob #ya-site-form0 input[type="search"].ya-site-form__input-text{
    background-color: #e2e2e2!important;
    border-radius: 0;
    box-shadow: none;
    height: 31px;
}
table.b-head_type_search-simple th, table.b-head_type_search-simple td {
    border: none;
    padding: 10px;
}
#ya-site-results {
    background: #f9f9f9 none repeat scroll 0 0!important;
    color: #000000;
}


/*yandex search styles*/
.turn-paid-impressions-btn{
    width: 150px;
    height: 25px;
}
.user-service a.turn-paid-impressions-btn{
    font-size: 12px;
    line-height: 12px;
}
table.deal-params-table{
    word-wrap: break-word;
}

hr.dictionary-hr{
    margin-top: 20px;
    margin-bottom: 10px;
}
ul.dictionary-letter-words-list>li{
    margin: 0;
    list-style: none;
}
/*h2.dictionary-letter{
    font-weight: bold;
}*/
.dictionary-menu-letter{
    font-size: 16px;
    padding: 3px;
}
.dictionary-menu-letter.active{
    font-weight:bold;
}
a.dictionary-word{
    line-height: 2;
}
a.dictionary-word, a.dictionary-word:hover, a.dictionary-word:active{
    color: #454545;
}
a.dictionary-word:visited{
    color: #777;
}

